[Desktop Entry]
Name=Game Mode
Exec=/usr/bin/molyuuctl session logout
Icon=/usr/share/icons/molyuuos/scalable/actions/return-to-game-mode.svg
Terminal=false
Type=Application
StartupNotify=false
