[Unit]
Description=Steam Power Button Daemon
After=graphical-session.target

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/lib/hwsupport/powerbuttond

[Install]
WantedBy=multi-user.target